/* Стили для TypeBar */
h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

/* Стили для элемента списка */
.type-item {
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* При наведении на элемент списка */
.type-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.05); /* Легкое увеличение элемента при наведении */
}

/* Активный элемент списка */
.type-item.active {
    background-color: #28a745;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Кнопка удаления */
.delete-button {
    transition: opacity 0.3s ease, transform 0.2s ease;
}

/* При наведении на кнопку удаления */
.delete-button:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Увеличиваем кнопку при наведении */
}

/* Анимация удаления кнопки */
.delete-button:active {
    opacity: 0.6;
    transform: scale(0.95);
}

/* Стили для анимации удаления элемента */
.type-item .delete-button {
    visibility: hidden;
}

.type-item:hover .delete-button {
    visibility: visible; /* Показываем кнопку только при наведении на элемент */
}
